<p id="notice"><%= notice %></p>

<p>
  <strong>Reg no:</strong>
  <%= @store.reg_no %>
</p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Addr:</strong>
  <%= @store.addr %>
</p>

<p>
  <strong>Location:</strong>
  <%= @store.location %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @store.tel %>
</p>

<p>
  <strong>Open time:</strong>
  <%= @store.open_time %>
</p>

<p>
  <strong>Close time:</strong>
  <%= @store.close_time %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
