<h1>Listing lineups</h1>

<table>
  <thead>
    <tr>
	  <th>상점 ID</th>
      <th>상점</th>
      <th>대기번호</th>
      <th>대기자수</th>
	  <th>접수시간</th>
	  <th>대기시간</th>
    </tr>
  </thead>

  <tbody>
    <% @ticket_list.each do |ticket| %>
      <tr>
		<td><%= ticket.store_id %></td>
        <td><%= ticket.store_name %></td>
        <td><%= ticket.wait_number %></td>
        <td><%= ticket.wait_ahead_count %></td>
		<td><%= ticket.reg_time%>
		<td><%= distance_of_time_in_words(Time.now, ticket.reg_time)%>   
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Lineup', new_lineup_path %>
